.youtube {max-width: 1220px; margin: 0 auto; padding: 0 10px;}
.youtube__list {display: flex; flex-wrap: wrap; list-style: none; padding: 0; margin: 0;}
.youtube__item {display: flex; width: calc((100% - 20px)/2); justify-content: space-between; cursor: pointer; border: 1px solid #ddd; box-sizing: border-box; margin: 0 0 20px;}
.youtube__item:nth-of-type(2n) {margin: 0 0 20px 20px;}
.youtube__title {display: flex; width: 50%; flex-direction: column; justify-content: center; padding: 0 0 0 10px;}
.youtube__title strong {width: 100%; margin: 0;}
.youtube__title p {width: 100%; margin: 0;}
