html, body { margin: 0; width: 100%; position:relative; padding: 0; font-size: 0.625em;}
* {margin:0; padding:0; list-style:none; text-decoration:none; font-family: NanumSquareRound; box-sizing: border-box; word-break: keep-all;}

ul>li>a { text-decoration:none; }
a {color: #333; text-decoration: none;}
table { border-collapse: collapse; }
textarea {box-sizing: border-box; resize: none; font-size: 1rem;}
select {-webkit-border-radius: 0; -webkit-appearance: none; -moz-appearance: none; -webkit-appearance: none; appearance: none; box-sizing: border-box; cursor: pointer;}
input,select,textarea,strong,em,p,h1,h2,h3,h4,span,td,button,th,li,ol,a,i,b {font-style:normal; margin: 0; letter-spacing: -1px; font-size: 1rem; line-height: 1.4;}
ul { margin: 0;padding: 0;list-style: none;}
img {max-width:100%;}
button {cursor: pointer;}

.inner {padding: 0 10px; max-width: 1420px; margin: 0 auto;}

.header {
    height: 5.6rem;

    .inner {
        display: flex; height: 100%; justify-content: space-between;
        .logo {
            display: flex; align-items: center; height: 100%; font-weight: 700;
            p {font-size: 1.6rem; margin: 0 0 0 0.2rem;}
        }
    }

    form {
        display: flex; align-items: center;
        height: 100%;
        .formInner { 
            display: flex; align-items: center; padding: 0 4rem;
            height: 3.6rem;
            input {
                width: 52rem; height: 100%;  border: 1px solid #ccc; padding: 0 1rem; font-size: 1.6rem;
            }
            button {
                height: 100%; border: 1px solid #ccc; border-left: none; font-size: 1.2rem; padding: 0 1rem; font-weight: 500;
            }
        }
    }
}